services:
  mysql:
    image: mysql:8.0
    container_name: tcc_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: microsservice_db
      MYSQL_USER: tcc
      MYSQL_PASSWORD: tcc
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - perf

  adminer:
    image: adminer:latest
    container_name: tcc_adminer
    restart: always
    ports:
      - "8081:8080"
    networks:
      - perf

volumes:
  mysql_data:

networks:
  perf:
    external: true
